@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.fa-bars {
  font-size: larger;
  color: black;
}
.fa-bars:hover,
#mylinks {
  display: block;
}
#mylinks {
  display: none;
}
body {
  max-width: 384px;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  max-height: 999999px;
}

/* MAIN STYLING */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.google-logo {
  width: 70px;
}
.user {
  border-radius: 50%;
}

/* SEARCH BAR */
.search-input {
  display: flex;
  padding: 1em 2em;
  box-shadow: 0px 2px 5px 0px rgb(60 64 67 / 16%);
  border-radius: 25px;
  margin: 0 2em;
}
.input-field {
  width: 100%;
  outline: none;
  border-style: none;
  color: black;
  /* background: rgb(250, 248, 248); */
}
.fa-magnifying-glass {
  color: grey;
  margin-right: 0.5em;
  margin-left: 0;
}
.search-icon {
  width: 25px;
  margin-left: 0.5em;
}

/* NAV STYLING */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  height: 36px;
  margin-left: -3px;
  margin-right: -3px;
  box-shadow: 0px 1px 3px 0px rgb(60 64 67 / 8%);
  padding: 0.5em;
}
.main-nav a {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  padding-right: 8px;
  padding-left: 11px;
  margin-left: -4px;
  color: grey;
}
#active {
  color: black;
  border-bottom: 1px solid black;
  /* text-decoration: underline; */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3em 1em 0.5em 1em;
}
.bell-icon {
  background: gray;
  border-radius: 50%;
  padding: 0.4em;
}
.name > p:first-child {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
}

.sticky {
  background: white;
  padding: 1em 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 3px 0px rgb(60 64 67 / 8%);
  /* height: 70px;  */
}
.sticky-list {
  padding-left: 1em;
}
.stats {
  background: rgb(238, 238, 238);
  color: #3f374f;
  padding: 0.3em 0.8em;
  border-radius: 6em;
  margin-left: 0.4em;
}
.stats:first-child {
  border: 1px solid #3f374f;
}

/* NEWS SECTION STYLING */
.news {
  padding: 1em;
}
.cards {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  overflow-x: scroll;
}
.card {
  /* padding: 2em; */
  /* width: 232px; */
  /* height: 400px; */
  border: 1px solid rgb(241, 241, 241);
  margin: 0.3em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.card-img {
  width: 232px;
  height: 130px;
}
.card-logo {
  width: 70px;
  padding: 1em;
}
.card-msg {
  font-size: 1em;
  font-weight: 400;
  line-height: 20px;
  padding: 0 1em;
}
.blue {
  color: blue;
}
.grey {
  color: grey;
}
