@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.fa-bars {
  font-size: larger;
  color: black;
}
.fa-bars:hover,
#mylinks {
  display: block;
}
#mylinks {
  display: none;
}
body {
  max-width: 384px;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  max-height: 999999px;
  color: #4d5156;
}

/* MAIN STYLING */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.google-logo {
  width: 70px;
}
.user {
  border-radius: 50%;
}

/* SEARCH BAR */
.search-input {
  display: flex;
  padding: 1em 2em;
  box-shadow: 0px 2px 5px 0px rgb(60 64 67 / 16%);
  border-radius: 25px;
  margin: 0 2em;
}
.input-field {
  width: 100%;
  outline: none;
  border-style: none;
  color: black;
  /* background: rgb(250, 248, 248); */
}
.fa-magnifying-glass {
  color: grey;
  margin-right: 0.5em;
  margin-left: 0;
}
.search-icon {
  width: 25px;
  margin-left: 0.5em;
}

/* NAV STYLING */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  height: 36px;
  margin-left: -3px;
  margin-right: -3px;
  box-shadow: 0px 1px 3px 0px rgb(60 64 67 / 8%);
  padding: 0.5em;
}
.main-nav a {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  padding-right: 8px;
  padding-left: 11px;
  margin-left: -4px;
  color: grey;
}
#active {
  color: black;
  border-bottom: 1px solid black;
  /* text-decoration: underline; */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3em 1em 0.5em 1em;
}
.bell-icon {
  background: gray;
  border-radius: 50%;
  padding: 0.4em;
}
.name > p:first-child {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
}

.sticky {
  background: white;
  padding: 1em 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 3px 0px rgb(60 64 67 / 8%);
  /* height: 70px;  */
}
.sticky-list {
  padding-left: 1em;
}
.stats {
  background: rgb(238, 238, 238);
  color: #3f374f;
  padding: 0.3em 0.8em;
  border-radius: 6em;
  margin-left: 0.4em;
}
.stats:first-child {
  border: 1px solid #3f374f;
}

/* NEWS SECTION STYLING */
.news {
  padding: 1em;
}
.cards {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  overflow-x: scroll;
}
.card {
  /* padding: 2em; */
  /* width: 232px; */
  /* height: 400px; */
  border: 1px solid rgb(241, 241, 241);
  margin: 0.3em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.card-img {
  width: 232px;
  height: 130px;
}
.card-logo {
  width: 70px;
  padding: 1em;
}
.card-msg {
  font-size: 1em;
  font-weight: 400;
  line-height: 20px;
  padding: 0 1em;
}
.website{
  padding-left: 1em;
}
.card-header,
.card-header1 {
  display: flex;
}
.card-header img {
  border-radius: 50%;
}
.card-header1 .website {
  margin-left: 0.5em;
  font-size: 0.8em;
}
.blue {
  color: blue;
}
.grey {
  color: grey;
}
.dailymail {
  padding-top: 2em;
  /* width: 50px; */
  /* padding: 0; */
  /* background: white; */
}
/* .small-img{
    width: 202px;
    height: 110px;
} */

.img-container {
  display: flex;
  overflow-x: auto;
}
.img-container img {
  width: 200px;
  height: 80px;
  margin: 0 0.2em;
}

/* ALSO */
.also{
  border-bottom: 4px solid #ebedef;
  padding-bottom: .5em;
}
.also h3{
  padding: .5em;
}
.also-info{
  padding-top: 1em;
}

/* TWITTER */
.twitter {
  padding: 1em;
  border-bottom: 4px solid #ebedef;
}
.twitter h3 {
  padding-bottom: 1em;
}
.twitter-card {
  min-width: 200px;
  border: 1px solid #ebedef;
  margin-right: 1em;
  border-radius: 0.5em;
}
.tweetcard-header {
  display: flex;
  align-items: center;
  padding: 1em;
}
.tweetcard-header-info {
  padding-left: 0.8em;
}
.tweetcard-header-info h5 {
  font-size: 0.5em;
  padding-bottom: 1em;
  color: #4d5156;
}
.tweetcard-header img {
  width: 50px;
  border-radius: 50%;
}
.twitter-card .images img {
  width: 100px;
}
.tweet-info,
.bottom {
  padding: 1em 0.5em;
}

/* BIO */
.bio {
  padding: 1em;
}
.bioimages img {
  border-radius: 1em;
}
.bio-card1 {
  background: rgba(226, 238, 255, 0.5);
  padding: 1em;
  border-radius: 1em;
}
.bio-cards,
.bio-cards2 {
  display: flex;
  overflow-x: auto;
}
.bio-card {
  padding: 1em;
  background: rgba(226, 238, 255, 0.5);
  margin: 0.5em 0.3em;
  min-width: 125px;
  border-radius: 1em;
}
.bio-cards-details {
  background: rgba(226, 238, 255, 0.5);
  display: flex;
  margin-top: 0;
  padding: 1em 0.5em;
}
.bio-card2 {
  background: white;
  margin: 0.3em;
  border-radius: 1em;
}
.bio-card2 p {
  padding: 0 1em 1em 0.8em;
}
.bio-cards2 .bio-card {
  margin-bottom: 0;
}
.bio-img {
  position: relative;
}
.bio-img img {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.fa-circle-play {
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
}
.bio-logo {
  width: 50px;
  padding-left: 1em;
}
/* MATCHES */
.matches {
  border-bottom: 4px solid #ebedef;
  padding: 1em 0 1em 1em;
  /* box-shadow: 0 0 0 3px #ebedef;
    border-radius: 0; */
}
#matches {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}
.match {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.match p {
  padding-right: 0.5em;
}
.match-logo {
  display: flex;
}
.match-logo img {
  width: 30px;
}
.match-logo p {
  padding: 0.5em;
}
.match-card:nth-child(1) {
  /* margin: 0; */
}
.match-card {
  /* padding: 1em;
    border: 1px solid #ebedef;
    margin-bottom: 1em; */
  /* overflow: hidden; */
  margin: 0.5em;
  min-width: 232px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  /* min-height: 155px; */
  font-size: 0.8em;
  padding-bottom: 0;
}
.match-card-top {
  height: 80px;
  padding: 11px 0 7px 12px;
  background-color: #fff;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.match-stats {
  background: #f8f9fa;
  border-radius: 0 0 8px 8px;
  padding: 0.5em;
  margin-top: 1em;
}
.country-flag p {
  padding-top: 10px;
}
.country-flag {
  display: flex;
  align-items: center;
}
.country-flag img {
  width: 15px;
}

/* WIKI */
.wiki {
  padding: 2em;
  border-bottom: 4px solid #ebedef;
}
.wiki-info {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.wiki-details img {
  width: 100px;
  height: 100px;
  border-radius: 0.2em;
}
.wiki-details {
  display: flex;
  justify-content: space-between;
}
.wiki-details p {
  padding: 1em 0 0.7em 0;
}
.flex-info {
  border: 1px solid #dadce0;
  margin-right: 0.5em;
  padding: 0.2em;
  border-radius: 0.2em;
}

/* SEARCHES */
.searches {
  padding: 1em;
  border-bottom: 4px solid #ebedef;
}

/* ABOUT */
.about {
  padding: 1em;
  line-height: 1.5;
  /* box-shadow: 0 0 0 1px #ebedef; */
  border-radius: 0;
  border-bottom: 4px solid #ebedef;
}
#about {
  display: flex;
  flex-direction: column;
  line-height: 2em;
}
#about .flex {
  border-bottom: 1px solid #dadce0;
  margin: 0 -16px;
  padding: 0 1em;
}
.flex {
  display: flex;
  align-items: center;
}
.flex img {
  border: 3px solid #dadce0;
  border-radius: 50%;
  width: 25px;
}
#about .flex a {
  padding-left: 1em;
  color: #4d5156;
}
.about-bottom {
  border-top: 1px solid #dadce0;
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
/* HIGHLIGHTS */
.highlights {
  padding: 1em;
}
.main-video {
  position: relative;
  padding-top: 1em;
}
.main-video img {
  width: 400px;
  border-radius: 1em;
}
.main-video-info {
  position: absolute;
  color: white;
  bottom: 10px;
  padding: 0 0.5em;
}
.card-highlights {
  display: flex;
  padding-top: 1em;
}
.card-highlight img {
  width: 110px;
  border-radius: 0.5em;
  padding: 0 0.3em;
}

/* STATS */
table {
  text-indent: initial;
  border-spacing: 2px;
  border-collapse: collapse;
  border-color: grey;
}
.portugal {
  /* text-decoration-color: #4d5156; */
  color: #4d5156;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.title {
  width: 48px;
  padding: 0 5px;
  color: #70757a !important;
}
th:first-child {
  width: 0;
  padding-left: 0;
}
th {
  display: table-cell;
  vertical-align: inherit;
  text-align: center;
  padding: 8px 0;
}
tr {
  border-bottom: 2px solid grey;
}

/* SOCIAL PROFILES */
.socials {
  display: flex;
  align-items: center;
}
.social-img {
  border: 1px solid rgb(241, 241, 241);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}
.social img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
}

/* VIDEOS */
.first-video {
  display: flex;
}
.second-video {
  display: flex;
}
.video {
  position: relative;
}
.video p{
  position: absolute;
  color: white;
  /* bottom: 10; */
  top: 190px;
  font-size: .5em;
  left: 10px;
  /* right: 10px; */
}
.video span{
  position: absolute;
  top: 160px;
  font-size: .3em;
  color: white;
  bottom: 30px;
}
.vid-logo {
  border-radius: 50%;
  width: 20px;
}
.video1 {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.video1-info {
  margin-left: 0.5em;
}

/* BROADEN SEARCH STYLING */
.search-cards {
  display: flex;
  overflow-x: auto;
}
.search-card {
  border: 1px solid rgb(241, 241, 241);
  margin: 0.3em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  width: 100%;
  line-height: 1.5;
}
.images {
  display: flex;
}

/* RELATED SEARCH STYLING */
.related-searches {
  padding: 1em;
}
.related-search {
  padding: 0.5em;
  border-bottom: 1px solid rgb(225, 224, 224);
}
.related-search a {
  color: black;
}

/* times of india section */
.TOI {
  padding: 1em;
}
.TOI h3 {
  padding: 0.5em 0;
  font-weight: 400;
}

/* FOOTER STYLING */
footer {
  background: rgb(225, 224, 224);
  text-align: center;
  line-height: 2;
  padding: 1.5em 0;
}
.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow-x: scroll; */
  margin: 8px 0;
  white-space: nowrap;
  overflow-x: auto;
}
.languages p {
  margin: 0 1em;
  /* padding: 0 .5em; */
}
.languages p:nth-child(1) {
  margin-left: 2em;
  margin-right: 0.5em;
}
footer button {
  padding: 0.5em;
  border: 1px solid blue;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  margin: 0 0.5em;
}
